<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Feature Name</string>
			<key>Description</key>
			<string>MVVM module name</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>MyModel</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View Type</string>
			<key>Description</key>
			<string>The type of view to use</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>XIB</string>
			<key>Values</key>
			<array>
				<string>XIB</string>
				<string>Storyboard</string>
				<string>None</string>
			</array>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>List</string>
			<key>Name</key>
			<string>Create List Objects</string>
			<key>Description</key>
			<string>List of objects</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<dict>
				<key>viewType</key>
				<array>
					<string>XIB</string>
					<string>Storyboard</string>
					<string>None</string>
				</array>
			</dict>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
